{% extends 'base.html.twig' %}

{% block title %}JeBenevole - {{ association.name }}{% endblock %}

{% block body %}
    <h1>Show Association</h1>

    {{ association.name }}
    {{ association.email }}
    {{ association.address }}
    {{ association.zip }}
    {{ association.city }}
    {{ association.fixNumber }}
    {{ association.cellNumber }}
    {{ association.faxNumber }}
    {{ association.description }}
    {{ association.picture }}
    {{ association.website }}
{% endblock %}
