{% extends 'layout_back_office.html.twig' %} {# todo : Extend base admin front #}

{% block title %}{% endblock %}

{% block body %}


<div class="admin-main-content container">
    <div class="p-3 my-2 rounded-2 hide" id="message-ajax"></div>
    {% if paginator['items'] is not empty %}
                {% for association in paginator['items'] %}
                    <div>
                    {{ association.name }}
                    {% if not association.isDeleted %}
                        <a class="anonymize" href="{{ path('admin_anonymize_association', {'slug': association.slug})}}" data-token="{{ csrf_token('anonymize' ~ association.slug) }}">
                            anonymize icon
                        </a>
                    {% endif %}
                        <a href="{{ path('admin_delete_association', {'slug': association.slug}) }}" data-token="{{ csrf_token('delete' ~ association.slug) }}" class="delete">delete icon</a>
                    </div>
                {% endfor %}

        {% include 'partials/_paginator.html.twig' %}
    {% else %}
        <p>{% trans %}no_result{% endtrans %}</p>
    {% endif %}
</div>

{% endblock %}
