{% extends 'layout_front_office.html.twig' %}

{% from "macros/form.twig" import fieldset %}

{% block title %}{% trans %}registration{% endtrans %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <main class="grix xs6 md12">
         <section class="txt-center col-xs4 pos-xs2 col-md6 pos-md4">
            <h1 class="txt-center">{% trans %}inscription_form_title{% endtrans %}</h1>
            {{ form_start(registrationForm,{'attr': {'class': 'grix md1'}}) }}

                {{ fieldset(registrationForm.lastName) }}
                {{ fieldset(registrationForm.firstName) }}
                {{ fieldset(registrationForm.email) }}
                {{ fieldset(registrationForm.plainPassword.first) }}
                {{ fieldset(registrationForm.plainPassword.second) }}

                {# todo : add a link to rgpd page + create rgpd page #}
                <fieldset class="grix xs1 md8">
                    {{ form_label(registrationForm.rgpd,'',{'label_attr': {'class': ' self-left txt-left col-md7'}}) }}
                    {{ form_errors(registrationForm.rgpd, {'attr': {'class': 'form-helper'}}) }}
                    {{ form_widget(registrationForm.rgpd, {'attr': {'class': ' m-1 p-1 col-md1 self-right'}}) }}
                </fieldset>

                <button type="submit" class="btn primary mx-auto my-2">{% trans %}form_btn_valider{% endtrans %}</button>

            {{ form_end(registrationForm) }}

            <a class="my-2 link" href="{{ path('app_login') }}">{% trans %}already_registered{% endtrans %}</a>
        </section>
    </main>
{% endblock %}
