{% set route_name = app.request.attributes.get('_route') %}

    <ul class="pagination">
        {# page 1 if needed #}
        {% if paginator['previous'] > 0 %}
            <li><a href="{{ path(route_name, { page: '1' }) }}">1</a></li>
        {% endif %}

        {# previous page if 3+ #}
        {% if paginator['previous_page'] > 0 %}
            <li><a href="{{ path(route_name, { page: paginator['previous_page'] }) }}">{{ paginator['previous_page'] }}</a></li>
        {% endif %}

        {# current page #}
        <li class="active"><a>{{ paginator['current_page'] }}</a></li>

        {# next page #}
        {% if paginator['current_page'] < paginator['totalPage']  %}
            <li><a href="{{ path(route_name, { page: paginator['next_page'] }) }}">{{ paginator['next_page'] }}</a></li>
        {% endif %}

        {# last page if last - 1  #}
        {% if paginator['current_page'] < paginator['totalPage'] - 1 %}
            <li><a href="{{ path(route_name, { page: paginator['totalPage'] }) }}">{{ paginator['totalPage'] }}</a></li>
        {% endif %}
    </ul>