{% set route_name = app.request.attributes.get('_route') %}
    {# page 1 si besoin #}
    {% if paginator['previous'] > 0 %}
        <a href="{{ path(route_name, { page: '1' }) }}">1</a>
    {% endif %}

    {# page previous si 3+ #}
    {% if paginator['previous_page'] > 0 %}
        <a href="{{ path(route_name, { page: paginator['previous_page'] }) }}">{{ paginator['previous_page'] }}</a>
    {% endif %}

    {# page courante #}
    <span>{{ paginator['current_page'] }}</span>
    {# page next #}
    {% if paginator['next'] < paginator['items']|length %}
        <a href="{{ path(route_name, { page: paginator['next_page'] }) }}">{{ paginator['next_page'] }}</a>
    {% endif %}

    {# page last si last - 1  #}
    {% if paginator['current_page'] < paginator['totalPage'] - 1 %}
        <a href="{{ path(route_name, { page: paginator['totalPage'] }) }}">{{ paginator['totalPage'] }}</a>
    {% endif %}