{{ form_start(form) }}
    <fieldset class="form-field inline">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.address) }}
        {{ form_errors(form.address) }}
        {{ form_widget(form.address) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.zip) }}
        {{ form_errors(form.zip) }}
        {{ form_widget(form.zip) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.categories) }}
        {{ form_errors(form.categories) }}
        {{ form_widget(form.categories) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.isPublished) }}
        {{ form_errors(form.isPublished) }}
        {{ form_widget(form.isPublished) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.isUrgent) }}
        {{ form_errors(form.isUrgent) }}
        {{ form_widget(form.isUrgent) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.dateStart) }}
        {{ form_errors(form.dateStart) }}
        {{ form_widget(form.dateStart) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.dateEnd) }}
        {{ form_errors(form.dateEnd) }}
        {{ form_widget(form.dateEnd) }}
    </fieldset>

    <fieldset class="form-file inline">
        {{ form_label(form.file) }}
        {{ form_errors(form.file) }}
        {{ form_widget(form.file) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.contactExternalName) }}
        {{ form_errors(form.contactExternalName) }}
        {{ form_widget(form.contactExternalName) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.contactExternalEmail) }}
        {{ form_errors(form.contactExternalEmail) }}
        {{ form_widget(form.contactExternalEmail) }}
    </fieldset>

    <fieldset class="form-field inline">
        {{ form_label(form.contactExternalTel) }}
        {{ form_errors(form.contactExternalTel) }}
        {{ form_widget(form.contactExternalTel) }}
    </fieldset>

    {# todo : if offer, choiceType on association #}
    <button class="btn primary mx-auto my-2">{{ button|default('form_btn_valider'|trans)}}</button>
{{ form_end(form) }}