{% extends 'layout_front_office.html.twig' %}
{% from "macros/form.twig" import fieldset %}
{% block body %}
	<main class="grix xs6 md12">
		<section class="txt-center col-xs4 pos-xs2 col-md6 pos-md4">
			<h1 class="txt-center">{{ 'contact_form_title'|trans }}</h1>

			{{form_start(form)}}
			{% if not app.user %}
				{{ fieldset(form.firstName)}}
				{{ fieldset(form.lastName)}}
				{{ fieldset(form.email)}}
				{{ fieldset(form.phone)}}
			{% endif %}
			{{ fieldset(form.subject)}}
			{{ fieldset(form.message)}}
			<button type="submit" class="btn primary mx-auto my-2">{% trans %}form_btn_valider{% endtrans %}</button>
			{{form_end(form)}}
		</section>
	</main>
{% endblock %}
