<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}JeBenevole{% endblock %}</title>


        {% block stylesheets %}{% endblock %}

        <script src="{{asset('assets/axentix/js/ax-core.js')}}"></script>
        <script src="{{asset('assets/axentix/js/ax-data.js')}}"></script>
        <script src="{{asset('assets/axentix/js/ax-config.js')}}"></script>
        <script src="{{asset('assets/axentix/js/ax-component.js')}}"></script>
        <script src="{{asset('assets/axentix/js/utilities.js')}}"></script>
        <script src="{{asset('assets/axentix/js/sidenav.js')}}"></script>
        <script src="{{ asset('assets/js/admin.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
