<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{asset('assets/css/axentix.min.css')}}">
        {% block stylesheets %}{% endblock %}

        <script defer src="{{ asset('assets/js/axentix.min.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>

        {# DEBUG NAVBAR #}

        <a href="{{ path('associations') }}">associations</a>
        <a href="{{ path('new_association') }}">new_association</a>
        <a href="{{ path('offers') }}">offers</a>
        <a href="{{ path('requests') }}">requests</a>
        <a href="{{ path('new_offer') }}">new_offer</a>

        {% block body %}{% endblock %}
    </body>
</html>
